{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "修改密码" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "修改密码" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "修改密码" %}
            {% endelement %}
            <a href="{% url 'account_reset_password' %}">{% trans "忘记密码？" %}</a>
        {% endslot %}
    {% endelement %}
{% endblock content %}
